<%= form_for(@itinerary) do |f| %>
  <% if @itinerary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

      <ul>
      <% @itinerary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tueftler %><br>
    <%= f.text_field :tueftler %>
  </div>
  <div class="field">
    <%= f.label :trendsetter %><br>
    <%= f.text_field :trendsetter %>
  </div>
  <div class="field">
    <%= f.label :bodenstaendige %><br>
    <%= f.text_field :bodenstaendige %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
